<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Settings</title>
  </head>
  <body>
    <h1>Settings</h1>
    <div th:if="${error}" style="color: red; font-weight: bold">
      <p th:text="${error}"></p>
    </div>
    <a href="/vid">Back to MyTV</a>

    <h2>Add Video</h2>
    <form action="/settings/add" method="post">
      Link: <input type="url" name="youtubeLink" required /><br />
      Duration (seconds):
      <input type="number" name="durationInSeconds" required /><br />

      Date: <input type="date" name="scheduledDate" required /><br />
      Time: <input type="time" name="scheduledTime" step="1" required /><br />

      <button>Add</button>
    </form>

    <h2>Schedule</h2>
    <table border="1">
      <tr>
        <th>ID</th>
        <th>Link</th>
        <th>Duration</th>
        <th>Date</th>
        <th>Time</th>
        <th>Actions</th>
      </tr>
      <tr th:each="video : ${videos}">
        <form th:action="@{/settings/update}" method="post">
          <td>
            <input type="hidden" name="id" th:value="${video.id}" /><span
              th:text="${video.id}"
            ></span>
          </td>
          <td>
            <input
              type="url"
              name="youtubeLink"
              th:value="${video.youtubeLink}"
              required
            />
          </td>
          <td>
            <input
              type="number"
              name="durationInSeconds"
              th:value="${video.durationInSeconds}"
              required
            />
          </td>

          <td>
            <input
              type="date"
              name="scheduledDate"
              th:value="${video.scheduledDate}"
              required
            />
          </td>
          <td>
            <input
              type="time"
              name="scheduledTime"
              step="1"
              th:value="${video.scheduledTime}"
              required
            />
          </td>

          <td><button type="submit">Update</button></td>
        </form>
        <td>
          <form
            th:action="@{/settings/delete/{id}(id=${video.id})}"
            method="post"
          >
            <button>X</button>
          </form>
        </td>
      </tr>
    </table>
  </body>
</html>
